{% extends "admin/base.html" %}
{% block content %}
<div class="col-lg-8">
    <form action="{{url_for('admin.new_speciality')}}" method="post">
        <h2>Add Speciality</h2>
        <p class="hint-text">Please add as much as specialities as you can</p>
        {% if message %}
            <p class="text-success">{{ message }}</h4>
        {% endif %}
        <div class="form-group">
            <select id="university" name="university" class="form-control">
                <option>Select a university</option>
                {% for univ_id, univ in universities %}
                <option value="{{univ_id}}" class="text-capitalize">{{univ}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select id="faculty" name="faculty" class="form-control">
                <option>Select a faculty</option>
                {% for fac_id, fac in faculties %}
                <option value="{{fac_id}}" class="text-capitalize">{{fac}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
                <select id="department" name="department" class="form-control">
                    <option>Select a department</option>
                    {% for dep_id, dep in departments %}
                    <option value="{{dep_id}}" class="text-capitalize">{{dep}}</option>
                    {% endfor %}
                </select>
            </div>
        <div class="form-group">
                <input type="text" id="speciality" class="form-control" name="speciality" placeholder="Speciality Name"
                    required="required">
        </div>

        <button type="submit" class="btn btn-success btn-lg btn-block">Add Speciality</button>
    </form>
</div>
{% endblock content %}
{% block footcontent %}
<script>
    
    function addEditedSelectionEvent(changedElement, toChangeElement, url) {
        $(changedElement).change(function() {
            var fd = new FormData();
            fd.append("id", $(changedElement).val());
            $.ajax({
                type: "POST",
                url: url,
                cache: false,
                processData: false,
                contentType: false,
                data: fd
            }).done(function(data) {
                // clear previous options
                $(toChangeElement + " option").remove();
                data = data.split("|");
                $.each(data, function(index, value) {
                    // Faculté Des nouvelles technologies de l'information et de la communication
                    var item = value.split("__");
                    var id = item[0];
                    var name = item[1];
                    var option = new Option(name, id);
                    $(option).html(name);
                    $(toChangeElement).append(option);
                });
            });
        });
    }

    addEditedSelectionEvent("#university", "#faculty", "{{url_for('admin.faculties')}}");
    addEditedSelectionEvent("#faculty", "#department", "{{url_for('admin.departments')}}");

</script>
{% endblock footcontent %}